/MyAuthMvc/MyAuthMvc.Tests/bin/Debug
/MyAuthMvc/MyAuthMvc.Tests/obj/Debug
/MyAuthMvc/MyAuthMvc/*.user
/MyAuthMvc/MyAuthMvc/bin
/MyAuthMvc/MyAuthMvc/obj/Debug
/LObjectWebApp/LObject.Domain.Core/bin/Debug
/LObjectWebApp/LObject.Domain.Core/obj/Debug
/LObjectWebApp/LObject.Domain.Interfaces/bin/Debug
/LObjectWebApp/LObject.Domain.Interfaces/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Business/bin/Debug
/LObjectWebApp/LObject.Infrastructure.Business/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Data/bin/Debug
/LObjectWebApp/LObject.Infrastructure.Data/obj/Debug
/LObjectWebApp/LObject.Services.Interfaces/bin/Debug
/LObjectWebApp/LObject.Services.Interfaces/obj/Debug
/LObjectWebApp/LObjectWebApp.Tests/bin/Debug
/LObjectWebApp/LObjectWebApp.Tests/obj/Debug
/LObjectWebApp/LObjectWebApp/bin
/LObjectWebApp/LObjectWebApp/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Data/*.user
/LObjectWebApp/LObjectWebApp/*.user
