/MyAuthMvc/MyAuthMvc.Tests/bin/Debug
/MyAuthMvc/MyAuthMvc.Tests/obj/Debug
/MyAuthMvc/MyAuthMvc/*.user
/MyAuthMvc/MyAuthMvc/bin
/MyAuthMvc/MyAuthMvc/obj/Debug
/LObjectWebApp/LObject.Domain.Core/bin/Debug
/LObjectWebApp/LObject.Domain.Core/obj/Debug
/LObjectWebApp/LObject.Domain.Interfaces/bin/Debug
/LObjectWebApp/LObject.Domain.Interfaces/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Business/bin/Debug
/LObjectWebApp/LObject.Infrastructure.Business/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Data/bin/Debug
/LObjectWebApp/LObject.Infrastructure.Data/obj/Debug
/LObjectWebApp/LObject.Services.Interfaces/bin/Debug
/LObjectWebApp/LObject.Services.Interfaces/obj/Debug
/LObjectWebApp/LObjectWebApp.Tests/bin/Debug
/LObjectWebApp/LObjectWebApp.Tests/obj/Debug
/LObjectWebApp/LObjectWebApp/bin
/LObjectWebApp/LObjectWebApp/obj/Debug
/LObjectWebApp/LObject.Infrastructure.Data/*.user
/LObjectWebApp/LObjectWebApp/*.user
/LObject3TierWebApp/LObject3Tier.BLL/bin/Debug
/LObject3TierWebApp/LObject3Tier.BLL/obj/Debug
/LObject3TierWebApp/LObject3Tier.DAL/bin/Debug
/LObject3TierWebApp/LObject3Tier.DAL/obj/Debug
/LObject3TierWebApp/LObject3TierWebApp.Tests/bin/Debug
/LObject3TierWebApp/LObject3TierWebApp.Tests/obj/Debug
/LObject3TierWebApp/LObject3TierWebApp/*.user
/LObject3TierWebApp/LObject3TierWebApp/bin
/LObject3TierWebApp/LObject3TierWebApp/obj/Debug
/LObjectWebApp/NDependOut
/LObjectWebApp/*.ndproj
/LObject3TierWebApp/*.user
/LObject3TierWebApp/NDependOut
/LObject3TierWebApp/*.ndproj
