@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
   <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("My Room", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
       <li>@Html.ActionLink("Manage", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
       <li>@Html.ActionLink("Reports", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
       
    </ul>
}
