@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mike Apollonov Studio<br />
    Ukraine, Kiev<br />
    <abbr title="Phone">P:</abbr>
    777.777.7777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mapolonov@gmail.com">mapolonov@gmail.com</a><br />
</address>