@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Object System</h1>
    <p class="lead">Develop your skills everywhere.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>...</p>
        @Html.ActionLink("More...", "About", "Home")
    </div>
    <div class="col-md-4">
        <h2>Contacts</h2>
        <p>...</p>
        @Html.ActionLink("More...", "Contact", "Home")
    </div>
</div>